<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-8">
        <div class="card mb-3">
            <img src="<%= blog.image %>" alt="img">
            <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p><%= blog.content %></p>
                <p class="card-text">
                    <small class="text-muted">Added by <%= blog.author.username %></small>
                </p>
            </div>  
            <div class="card-body">
                <a class="btn btn-outline-success" href="/blogs">Back</a>
                <%  if( currentUser && blog.author.equals(currentUser._id))  {%>
                <a class="card-link btn btn-outline-info" href="/blogs/<%= blog._id %>/edit">Edit</a>
                <form class="d-inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
                <% } %> 
            </div>         
        </div>

        <h2>Leave a Review</h2>
        <form action="/blogs/<%= blog._id %>/reviews" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>             
            </div>
            <button class="btn btn-success mb-3">Submit</button>
        </form>

        <!-- reviews -->
        <% for(let review of blog.reviews) { %>
            <div class="card mb-3 ">
                <div class="card-body mb-2">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <small class="text-muted">Added by <%= review.author.username %></small>
                    <p class="card-text">Review: <%= review.body %></p>
                    <%  if( currentUser && review.author.equals(currentUser._id))  {%>
                    <form action="/blogs/<%=blog._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %> 
                </div>
            </div>
            <% } %>
    </div>
</div>